<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-1"></div>
  <div class="col-md-1"></div>
  <div class="col-md-1"></div>
  <div class="col-md-2">Parcels to Deliver</div>
  <div class="col-md-3">Destination City</div>
  <div class="col-md-3">Destination Date</div>
</div>
<% if !@reviewer %>
  <% @trips = @user.trips %>
<% end %>
<% @trips.each do |trip| %>
  <%= render partial: '/trips/summary', locals: {trip: trip} %>
<% end %>