<div class="row">
  <div class="col-md-2">Details</div>
  <div class="col-md-4">Deliveries</div>
  <div class="col-md-3">Destination</div>
  <div class="col-md-3">Arrive By</div>
</div>
<% if !@reviewer %>
  <% @trips = @user.trips %>
<% end %>
<% @trips.each do |trip| %>
  <% parcels = trip.parcels %>
  <%= render partial: '/trips/summary', locals: {trip: trip, parcels: parcels} %>
<% end %>