
<h4>Booked!</h4>

<h5>(Parcel ID#<%= @parcel.id %>) is booked to ship with <%= @trip.driver.username %> on Trip #ID<%= @trip.id %></h5>
<br><br>
<%= button_to "Ship Another Parcel", parcel_trips_path(@parcel.id), method: :get %>
