<%= render partial: "application/flash_messages", flash: flash %>

<div class="container">
  <%= render "layouts/stepwizard" %>
  <%= form_tag @url, method: :put, multipart: true, id: "creation-form" do %>
    <%= render "trips/form" %>
  <% end %>
</div>

<script type="text/javascript">
  $(function () {
    $('#datetimepicker1').datetimepicker({
      format: 'DD/MM/YYYY HH:mm:ss'
    });
    $('#datetimepicker2').datetimepicker({
      format: 'DD/MM/YYYY HH:mm:ss'
    });
  });