<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-3">Parcel Description</div>
  <div class="col-md-3">Parcel Destination City</div>
  <div class="col-md-3">Parcel Delivery Date</div>
</div>
<br>
<% @user.parcels.each do |parcel| %>
  <%= render partial: '/parcels/summary', locals: {parcel: parcel} %>
<% end %>