<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-4">Parcel Description</div>
  <div class="col-md-3">Parcel Destination City</div>
  <div class="col-md-3">Parcel Delivery Date</div>
</div>
<br>
<% if !@reviewer %>
  <%# I do not want to see this work (assignment) inside of a VIEW, the CONTROLLER has that responsiblity %>
  <% @parcels = @user.parcels %>
<% end %>
<% @parcels.each do |parcel| %>
  <% trip = parcel.trip %>
  <%= render partial: '/parcels/summary', locals: {parcel: parcel, trip: trip} %>
<% end %>
