<body class="parcel-trip-background">
<h4 id="parcel-header">Create New Parcel</h4>

<%# if flash[:error] %>
  <!-- <h3 style="color: red;"><%= flash[:error] %></h3> -->
<%# end %>
<%= render "parcels/form" %>
</body>