<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-3"></div>
  <div class="col-md-3">Trip Destination City</div>
  <div class="col-md-3">Trip Destination Date</div>
</div>
<% @user.trips.each do |trip| %>
  <%= render partial: 'trip', locals: {trip: trip} %>
<% end %>