<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-3">Parcel Description</div>
  <div class="col-md-3">Parcel Destination City</div>
  <div class="col-md-3">Parcel Delivery Date</div>
</div>
<br>
<% @user.parcels.each do |parcel| %>
  <%= render partial: 'parcel', locals: {parcel: parcel} %>
<% end %>