<h2><%= @user.username.capitalize %>'s Caravan History</h2>
<h3>Your Past Trips</h3>
<%= render '/trips/current_user', locals: {history: @history} %>
<h3>Your Past Parcels</h3>
<%= render '/parcels/current_user', locals: {history: @history} %>