<% if @user.received_reviews.count == 0 %>
  <h4><%= @user.username%> has no reviews</h4>
<% else %>
  <h4>Reputation <%= @user.reputation %> / 5</h4>
<% end %>
<% if @user.received_reviews.count != 0 %>
  <h5>Reviews</h5>
  <%= render partial: '/reviews/show', locals: {reviews: @reviews} %>
<% end %>

