<h4>Reputation <%= @user.reputation %></h4>
<%= link_to "Review #{@user.username} as Driver", "/review_trips/#{@user.id}" %>
<br>
<%= link_to "Review #{@user.username} as Sender", "/review_parcels/#{@user.id}" %>

<h5>Reviews</h5>
<%= render partial: '/reviews/show', locals: {reviews: @reviews} %>

