 <div class="row">
   <div class="col-md-1"></div>
   <div class="col-md-3"></div>
   <div class="col-md-3"><%=trip.destination_address.city %></div>
   <div class="col-md-3"><%= trip.arriving_at %></div>
 </div>