<div id="history_show">
  <h4><%= @user.username.capitalize %>'s Caravan History</h4>
  <h5>Your Past Trips</h5>
    <div class="row">
      <div class="col-md-2">Destination</div>
      <div class="col-md-3">Deliveries</div>
      <div class="col-md-3">Review</div>
      <div class="col-md-2">Departing</div>
      <div class="col-md-2">Arriving</div>
    </div>
  <% @trips.each do |trip| %>
    <%= render partial: '/trips/summary', locals: {trip:trip, history: true} %>
  <%end %>
  <h5>Your Past Parcels</h5>
  <div class="row">
    <div class="col-md-3">Description</div>
    <div class="col-md-2">Review</div>
    <div class="col-md-3">Destination </div>
    <div class="col-md-3">Delivery</div>
  </div>
  <% @parcels.each do |parcel| %>
      <%= render partial: '/parcels/summary', locals: {parcel:parcel, history: true} %>
  <% end %>
</div>