<h2><%= @user.username%>'s Profile</h2>
<h3>Driver</h3>
<% if @user == current_user %>
  <%= render 'current_user_trips' %>
<% end %>
<h3>Sender</h3>
<% if @user == current_user %>
  <%= render 'current_user_parcels' %>
<% end %>
