$color-nav-main: blue;
$color-font-homepage: white;
$image-background-main: url(road1.jpg);


nav.navbar{
 // background: $color-nav-main;
}

ul.details{
	list-style: none;
}

.deliveries{
	list-style: none;
}

form input.submit {
	@extend .btn;
	@extend .btn-default;
	@extend button;
}

.jumbotron{
	background: none;
	background-image: $image-background-main;
	background-repeat: no-repeat; 
	background-size: cover;
	text-align:center;
	color: $color-font-homepage;
}

.stepwizard-step {
	display: inline;
}

.crud-buttons{
	// display:inline;
}