$color-nav-main: blue;
$color-font-homepage: white;
$color-button-main: rgb(39,180,211);
$image-background-main: url(road1.jpg);

ul.details{
	list-style: none;
}

.deliveries{
	list-style: none;
}

form input.submit {
	@extend .btn;
	@extend .btn-default;
	@extend button;
}

.jumbotron{
	background: none;
	background-image: $image-background-main;
	background-repeat: no-repeat;
	background-size: cover;
	text-align:center;
	color: $color-font-homepage;
}

.stepwizard-step {
	display: inline;
}

.crud-buttons{
	// display:inline;
}

#googlemap {
  border: 1px dashed #999;
  width: 100%;
  height: 400px;
}

#googlemap img {
  max-width: none;
}

#place_images {
  margin: 0px 0px 20px 0px;
}
#place_images img {
  padding: 1px;
  margin: 4px 4px 8px 2px;
  border: 1px solid #ccc;
  box-shadow: 0px 0px 3px #ccc;
}

.panel-heading {
  padding: 5px 15px;
}

.panel-body.trip-panel {
  color: black;
}

.panel-footer {
	padding: 1px 15px;
	color: #A0A0A0;
}

.profile-sidebar{
	background-color: rgb(240,240,240);
}

.profile-content{
	background-color: rgb(240,240,240);
}
.profile-img {
	width: 96px;
	height: 96px;
	margin: 0 auto 10px;
	display: block;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}

input{
	color: black;
}

body{
	background-color: white;
	color: black;
}

nav.navbar .top-nav-collapse{
	background-color: rgba(66,66,66, 0.8)
}

footer{
	background-color:inherit;
}

.main {
	margin-top: 80px;
}

#scroll-button{
	color: white;
	border: 1px solid white;
	background-color: rbga(0,0,0,0.0);
}

// .btn {
// 	border: 1px solid rgb(39,180,211);
// 	background-color: rgb(39,180,211);
// }

// .btn-default {
// 	color: rgb(39,180,211);
// }

::selection{
	color: rgb(39,180,211);
}

.gmap_search_bar input {
	width: 500px;
}




