<% if flash[:notice] %>
  <div class="alert alert-success text-center" role="alert"><%= flash[:notice] %></div>
<% elsif flash[:error] %>
  <div class="alert alert-danger text-center" role="alert"><%= flash[:error] %></div>
<% end %>