<div class="jumbotron">
  <h1>Welcome To Caravan</h1>
  <p><%= link_to 'New Trip', new_trip_path, class: "btn btn-primary btn-lg"%></p> 
  <p><%= link_to 'New Parcel', new_parcel_path, class: "btn btn-primary btn-lg" %></p>
</div>