<div class="jumbotron">
  <h1>Welcome To Caravan</h1>
</div>
<h1>Google Maps Tut</h1>
<div id="map-container">
  <div id="map-canvas"></div>
</div>
markers = handler.addMarkers(<%=raw @hash.to_json %>);